{% extends 'user/base.html' %}

{%block content%}
<br><br><br>
<div class="container">
    {%for m in messages%}
      {{m}}
    {%endfor%}
    <div class="row">
       <div class="col-4"></div>
       <div class="col-4 bg-primary mt-4 d-flex justify-content-center p-4 shadow border border-2 ">
        <form action="" method="post">
            <h3 class="text-center">Login</h3>
            {%csrf_token%}
            {{form.as_p}}
         <button type="submit">Sign In</button>
         New User?<a class="text-light" href="{%url 'register'%}">Register Here</a>
        </form>
       </div>
       <div class="col-4"></div>
    </div>
</div>




{%endblock%}